body {
  font-family: 'Sarabun', sans-serif !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sarabun', sans-serif !important;
}

.intro-page {
  background: #fff;
  background: linear-gradient(360deg, rgba(77, 171, 174, 0) 0%, rgba(76, 164, 191, 1) 100%);
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.intro-img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.login-content{
  height: auto;
}

.logo-intro {
  padding-top: 3rem !important;
}

.logo-intro h3 {
  color: #fff;
  line-height: 1.2;
  margin: 2rem 0 3rem;
  font-size: 28px;
  text-shadow: 0px 1px 0px rgb(0 0 0 / 23%) !important;
}

@media (min-width: 1300px) {
  .iq-sidebar.sidebar-double-icon {
    width: 300px;
  }

  .sidebar-double-icon .iq-top-navbar {
    width: calc(100% - 300px);
  }

  .sidebar-double-icon .content-page {
    margin-left: 300px;
    padding: 105px;
  }
  .sidebar-double-icon .iq-footer{
    margin-left: 300px;
    width: calc(100vw - 305px);
  }
}


.iq-sidebar.sidebar-double-icon .iq-sidebar-menu .iq-menu li a {
  width: 100%;
  height: auto;
  display: block;
  padding: 15px 10px;
  text-align: left;
}

.iq-sidebar.sidebar-double-icon .iq-sidebar-menu .iq-menu li a i {
  display: inline-block;
}

.iq-sidebar.sidebar-double-icon .iq-sidebar-menu .iq-menu li a span {
  display: inline-block;
  margin: 0;
  font-size: 16px;
}

.intro-content .card {
  text-align: center;
  height: 300px;
  max-height: 260px;
  transition: all .25s ease;
  border: 3px solid #e4e4e4;
}

.intro-content .card:hover,
.intro-content .card:focus {
  transform: scale(1.05);
}

.intro-content .card hr {
  height: 2px;
  border-width: 0;
  color: #DCDCDC;
  background-color: #DCDCDC;
  width: 30px;
}

.form-control {
  height: 60px;
  font-size: 16px;
}

.btn {
  font-size: 18px;
  font-family: 'Sarabun', sans-serif !important;
}
.form-row{
  margin-bottom: 10px;
}

.floating-label{
  margin-bottom: 0;
}
.floating-input:not(:placeholder-shown)~label{
  background: #fff;
}

.login-content .floating-label label{
  font-size: 16px;
}